body {
    background-image: linear-gradient(to right, rgb(20, 36, 50), rgb(124, 143, 161));
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: rgb(56, 56, 56);
    margin-top: 20px;
    width: 320px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: large;
}

a {
    /* color: rgb(175, 202, 172); */
    text-decoration: none;
}

.form-btn {
    margin-top: 20px;
    width: 323px;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right, rgb(20, 36, 50), rgb(124, 143, 161));
    color: #fff;
    cursor: pointer;
}

.container {
    background-color:rgb(18 23 29);
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width: 420px;
    height: 560px;
    color: gray;
    border-radius: 2%;
}

#form-lable {
    font-weight: 200;
    font-size: 25px;
    padding-top: 40px;
}